body {
  font-family: Arial, Times, sans-serif;
  text-align: left;
  background-color: #F0FFFF;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  height: 100px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 3px;
  text-align: center;
  
}

.tab button {
  background-color: inherit;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover{
  background-color: #ddd;
}

.tab button:active{
  background-color: #ccc;
}

.tab content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

.header {
  display: block;
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.athens {
  display: block;
  border: 5px solid black;
  width: 20%;
  float: right;
}

.factory {
  display: block;
  border: 5px solid black;
  width: 20%;
  float: right;
}

.voltaire {
  display: block;
  border: 5px solid black;
  width:20%;
  float: right;
